body {
  background-color: bisque;
  text-align: center;
  display: block;
  margin: 10px;
}

h1 {
  margin: 0 auto;
}

p {
  text-align: center;
  font-size: 18px;
}

a {
  color: orange;
  font-size: 24px;
  justify-content: space-evenly;
  margin: 10px 10px;
}
.mail {
  color: blue;
}
.croissant-photo {
  max-width: 40%;
  border-radius: 15px;
  margin: 10px auto;
  display: block;
}

.croissant-photo-2 {
  max-width: 100%;
  height: 800px;
  border-radius: 15px;
  display: block;
  margin: 10px auto;
}
